<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 20 Vue js - Transições</title>
    <style>
        .fade-enter-active {
            transition: opacity .5s .7s;
        }

        .fade-leave-active {
            transition: transform .5s;
        }

        .fade-enter {
            opacity: 0;
            color: blue;
        }

        .fade-leave-to {
            transform: translate(-200px, 0);
        }
    </style>
    <script src="vue.js"></script>
</head>
<body>
    
    <div id="app">
        <div class="container">
            <select v-model="movie">
                <option value="transformers">Transformers</option>
                <option value="game-of-thrones">Game of Thrones</option>
            </select>
            <h3 ref="title"> {{ titulo }} </h3>
            <transition name="fade">
                <component :is="movie">
                    <h4 slot="title"> {{ movie }} </h4>
                </component>
            </transition>

            <!-- <transformers v-if="movie == 'transformers'">
                <h4 slot="title">Transformers</h4>
            </transformers>
            <game-of-thrones v-if="movie == 'game-of-thrones'">
                <h4 slot="title">Game of Thrones</h4>
            </game-of-thrones> -->
            <ul ref="users">
                <li v-for="(item, index) in users" :key="item.id"> {{ item.name }} <a href="#" @click.stop.prevent="remove()">x</a></li>
            </ul>
        </div>
    </div>

    <template id="transformers">
        <div>
            <slot name="title"></slot>
            <ul>
                <li v-for="item in transformers"> {{ item.name }} </li>
            </ul>
        </div>
    </template>

    <template id="gameOfThrones">
        <div>
            <slot name="title"></slot>
            <ul>
                <li v-for="item in gameofthrones"> {{ item.name }} </li>
            </ul>
        </div>
    </template>

</body>
</html>

<!-- script vue -->
<script>

    Vue.component('transformers', {
        template: "#transformers",
        data() {
            return {
                transformers: [
                    { name: "Optimus Prime" },
                    { name: "Bumble Bee"},
                    { name: "Megatron" },
                ]
            }
        },
    });

    Vue.component('game-of-thrones', {
        template: "#gameOfThrones",
        data() {
            return {
                gameofthrones: [
                    { name: "Jon Snow" },
                    { name: "Daenerys Targaryen"},
                    { name: "Tyron" },
                ]
            }
        },
    });

    var app = new Vue ({
        el: "#app",

        mounted() {
            console.log(this.$refs.users);
        },

        data: {
            titulo: "Aula 19 Vue js - Atributos Especiais",
            users: [
                { name: 'Emma', id: 0 },
                { name: 'Sophia', id: 1 },
                { name: 'Isabella', id: 2 },
            ],
            movie: "game-of-thrones",
        },

        methods: {
            remove(index){
                this.users.splice(index, 1);
            }
        },
    });
</script>